{% extends "base.html" %}

{% block title %}Wishlists{% endblock %}

{% block content %}
<div class="container">
    <h1 style="margin-top: 20px;">Wishlists</h1>

    {% if wishlists %}
    <hr>
    <table class="table">
        {% for wishlist in wishlists %}
            <p><strong>{{ wishlist.title }}</strong></p>
            <tr>
                <th>Item name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for item in wishlist.items %}
            <tr>
                <td>{{ item.product.product_name }}</td>
                <td>{{ item.product.quantity }}</td>
                <td>${{ item.product.price | priceFormat}}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
    {% else %}
        <p>You have no wishlists yet. <a href="#">Create one now!</a></p>
    {% endif %}
</div>


{% endblock %}