<style>
    .image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .image-container img {
        width: 100%;
        display: block;
        transform: scale(1.05);
        transition: opacity 0.4s ease, transform 0.4s ease;
    }
    .img-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .image-container:hover .img-hover {
        opacity: 1;
    }
    .image-container:hover .img-primary {
        opacity: 0;
    }
    .col-sm-3 {
        height: 475px;
    }
</style>

{% extends "base.html" %}
{% block page_content %}
    <div class="container">
        <h1 class="mt-5">Search Results</h1>
        <p class="lead">Showing results for "{{ query }}"</p>
        <hr>
        {% if products %}
            <div class="row mx-4">
                {% for product in products %}
                    <div class="product list-group-item col-sm-3">
                        <a href="{{ url_for('viewProduct.viewProduct', id=product.product_id) }}" class="card">
                            <div class="image-container card-img-top">
                                {% set images = image_dict.get(product.product_id, []) %}

                                {% if images|length > 0 %}
                                    <img src="{{ images[0].image_url }}" class="img-primary">
                                {% endif %}

                                {% if images|length > 1 %}
                                    <img src="{{ images[1].image_url }}" class="img-hover">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ product.product_name }}</h4>
                                <p class="card-text">{{ product.description }}</p>
                                <small>${{ product.price }}</small>
                            </div>
                        </a>
                    </div>
                    
                {% endfor %}
            </div>
        {% else %}
            <p>No products found.</p>
        {% endif %}
{% endblock %}