{% extends "base.html" %}
{% block styles %}
    <style>
        .image-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        .image-container img {
            width: 100%;
            display: block;
            transform: scale(1.05);
            transition: opacity 0.4s ease, transform 0.4s ease;
        }
        .img-hover {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .image-container:hover .img-hover {
            opacity: 1;
        }
        .image-container:hover .img-primary {
            opacity: 0;
        }
    </style>
    {{ super() }}
{% endblock %}
{% block page_content %}
    <h1 class="mt-5">Search Results</h1>
    <p class="lead">Showing results for "{{ query }}"</p>
    <hr>
    <div class="row">

        <!-- Search Filters Column -->
        <div class="filters-container col-3">
            <h2>Filters</h2>

            <form action="/search" method="POST">

                <label for="category">Category</label>
                <select id="category">
                    {% for category in filter_categories %}
                    <option>{{ category.category_name }}</option>
                    {% endfor %}
                </select><br>

                <label for="color">Color</label>
                <select id="color">
                    {% for color in filter_colors %}
                    <option>{{ color.hex_code }}</option>
                    {% endfor %}
                </select><br>

                <input type="checkbox" id="in-stock">
                <label for="in-stock">In Stock</label><br>

                <input type="checkbox" id="out-of-stock">
                <label for="out-of-stock">Out Of Stock</label><br>

                <input type="submit" value="Apply">

            </form>
        </div>

        <!-- Search Results Column -->
        <div class="container col-9">
            {% if products %}
                <div class="row mx-4">
                    {% for product in products %}
                        <div class="product list-group-item col-sm-3 d-flex">
                            <a href="{{ url_for('viewProduct.viewProduct', id=product.product_id) }}" class="card">
                                <div class="image-container card-img-top">
                                    {% set images = image_dict.get(product.product_id, []) %}

                                    {% if images|length > 0 %}
                                        <img src="{{ images[0].image_url }}" class="img-primary">
                                    {% endif %}

                                    {% if images|length > 1 %}
                                        <img src="{{ images[1].image_url }}" class="img-hover">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ product.product_name }}</h4>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p>{{ product.store_name }}</p>
                                    <small>${{ product.price }}</small>
                                </div>
                            </a>
                        </div>
                        
                    {% endfor %}
                </div>
            {% else %}
                <p>No products found.</p>
            {% endif %}
        </div>

    </div>
{% endblock %}