<style>
    .jumbotron{
        background-color: var(--green-1) !important;
        color: var(--tan-2) !important;
    }
    .img-cover{
        object-fit: cover;
        object-position: center;
    }
    .card_circle{
        background-color: var(--green-2);
        text-align: center;
        margin-top: 30px;
        border: 10px solid transparent;
        height: 200px;
        width: 200px;
        padding: 50px;
        border-radius: 50%;
    }
    .btn{
        background-color: var(--orange-2) !important;
        border-color: var(--orange-2) !important;
    }
    .btn:hover{
        background-color: var(--orange-1) !important;
        border-color: var(--orange-1) !important;
    }
</style>
{% extends "base.html" %}
{% block page_content %}
    <div class="jumbotron">
        <h1>Welcome to Hibiscus</h1>
        <p>Discover a wide range of products at unbeatable prices. Shop now and enjoy exclusive deals!</p>
        <a href="#" class="btn btn-primary btn-lg">Shop Now</a>
    </div>
    <div class="row">
        {% for category in productsCategories %}
        <div class="col-sm-3">
            <div class="card card_circle">
                <div class="ratio ratio-1x1 rounded-circle">
                </div>
                <div class="card_body">
                    <h5 class="card-title">{{ category.category_name }}</h5>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}