{% extends "base.html" %}
{% block title %}Checkout {{ super() }}{% endblock %}
<style>

</style>
{% block content %}
{% if cartItems %}
    <div class="container my-4">
        <h2>Checkout</h2>
        <p>Review your order and proceed.</p>
    </div>

    <table class="table container">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for cartItem in cartItems %}
        <tr>
            <td>{{ cartItem.product_name }}</td>
            <td>{{ cartItem.quantity }}</td>
            <td>${{ cartItem.price | priceFormat }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="totalsContainer container">
        <table class="table">
            {% if subtotal %}
            <tr>
                <td>Subtotal:</td>
                <td>${{ subtotal | priceFormat }}</td> 
            </tr>
            {% endif %}
            {% if tax %}
            <tr>
                <td>Tax:</td>
                <td>${{ tax | priceFormat }}</td> 
            </tr>
            {% endif %}
            {% if total %}
            <tr>
                <td>Total:</td>
                <td>${{ total | priceFormat }}</td>
            {% endif %}
        </table>
    </div>

    <div class="container">
        <form action="/address">
            <button class="submit">Continue</button>
        </form>
    </div>
{% endif %}
{% endblock %}