<hr class="hr3 review-hr">

<div id="reviews" class="review-section">
    <div class="flex width-100">
        <div class="flex flex-column width-100">
            <div class="flex align-items-center">
                <h3>4.0 </h3>
                <span class="review-star glyphicon glyphicon-star"></span>
                <span class="review-star glyphicon glyphicon-star"></span>
                <span class="review-star glyphicon glyphicon-star"></span>
                <span class="review-star glyphicon glyphicon-star"></span>
                <span class="review-star glyphicon glyphicon-star-empty"></span>
            </div>
            <h4 class="">20 Reviews</h4>
        </div>
        <div class="flex flex-column width-100">
            <h3>hi</h3>
        </div>
    </div>
</div>
