<hr class="hr3 review-hr">

<div id="reviews" class="review-section">
    <div class="flex width-100 flex-wrap">
        <div class="flex flex-column review-left">
            <div class="flex align-items-center flex-wrap">
                <h3>{{ reviews.getAverageRating() }} </h3>
                <div class="flex flex-nowrap">
                    {% for i in range(reviews.getFullStars()) %}
                        <i class="review-star bi bi-star-fill"></i>
                    {% endfor %}
                    {% if reviews.getHalfStars() %}
                        <i class="review-star bi bi-star-half"></i>
                    {% endif %}
                    {% for i in range(reviews.getEmptyStars()) %}
                        <i class="review-star bi bi-star"></i>
                    {% endfor %}
                </div>
            </div>
            <h4 class="">{{ reviews.getReviewCount() }} Reviews</h4>
        </div>
        <div class="flex flex-column review-right">
            {% for rating in range(5, 0, -1) %}
            <div class="review-ratings d-flex align-items-center">
                <span class="me-2">
                    {{ rating }} 
                    <i class="review-star review-star-sm bi bi-star-fill"></i>
                    {{ reviews.getRatingCount(rating) }}
                </span>
                <div class="progress flex-grow-1 h-90">
                    <div class="progress-bar bg-warning" role="progressbar" style="width:{{ reviews.getRatingPercent(rating) }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
