<hr class="hr3 review-hr">

<div id="reviews" class="review-section">
    <div class="flex width-100 flex-wrap">
        <div class="flex flex-column review-left">
            <div class="flex align-items-center flex-wrap">
                <h3>{{ reviews.getAverageRating() }} </h3>
                <div class="flex flex-nowrap">
                    {% for i in range(reviews.getFullStars()) %}
                        <i class="review-star bi bi-star-fill"></i>
                    {% endfor %}
                    {% if reviews.getHalfStars() %}
                        <i class="review-star bi bi-star-half"></i>
                    {% endif %}
                    {% for i in range(reviews.getEmptyStars()) %}
                        <i class="review-star bi bi-star"></i>
                    {% endfor %}
                </div>
            </div>
            <h4 class="">{{ reviews.getReviewCount() }} Reviews</h4>
        </div>
        <div class="flex flex-column review-right">
            {% for rating in range(5, 0, -1) %}
            <div class="review-ratings d-flex align-items-center">
                <span class="me-2">
                    {{ rating }} 
                    <i class="review-star review-star-sm bi bi-star-fill"></i>
                    {{ reviews.getRatingCount(rating) }}
                </span>
                <div class="progress flex-grow-1 h-90">
                    <div class="progress-bar bg-warning" role="progressbar" 
                        style="width:{{ reviews.getRatingPercent(rating) }}%" aria-valuenow="75" 
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <hr class="hr3 review-hr">

    {% if not review_exists %}
    <button onclick="toggleReviewCreate()" class="btn btn-outline-success">
        Create a review!
    </button>
    {% else %}
    <form action="{{ url_for('viewProduct.deleteReview', product_id=product_id) }}"
        method="POST" id="delete-review">
        <button class="btn btn-outline-danger">
            Delete Review!
        </button>
    </form>
    {% endif %}

    <form action="{{ url_for('viewProduct.createReview', product_id=product.product_id) }}" 
        method="POST" id="create-review" class="mt-2 flex flex-column review-rating"
        hidden>
        {{ create_review_form.hidden_tag() }}
        {% if create_review_form.errors or error %}
            <div class="alert alert-danger">
                {{ error if error }}
                <ul class="list-unstyled">
                {% for er in create_review_form.errors.values() %}
                    <li class="">{{ er[0] }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="flex flex-wrap">
            <div id="create-review-rating" class="review-rating review-create-rating">
                <p class="mb-0">Rating</p>
                {% for subfield in create_review_form.rating %}
                    {{ subfield( checked="checked", hidden="hidden") }}
                    <button type="button" class="btn btn-star p-0" 
                        onclick="updateReviewCreate({{ subfield.label.text }})">
                        <label class="create-review-label btn-star" for="{{ subfield.label.field_id }}">
                            <i class="review-star bi bi-star-fill btn-star"></i>
                        </label>
                    </button>
                {% endfor %}
            </div>


            <div class="flex flex-column">
                <div class="form-group mb-1">
                    {{ create_review_form.title.label }}
                    {{ create_review_form.title( class="form-control", placeholder = "Title") }}
                </div>
                <div class="form-group mb-1">
                    {{ create_review_form.desc.label }}
                    {{ create_review_form.desc( class="form-control", 
                        cols="64", rows="8", placeholder = "Description") }}
                </div>
                {{ create_review_form.submit(class="btn btn-success") }}
            </div>
        </div>
    </form>
    {% endif %}

    <hr class="hr3 review-hr">

    <form id="review-sort" action="{{ url_for('viewProduct.viewProduct') + '#reviews' }}" method="GET">
        <!-- Need the product id here because it is a GET 
            parameter instead of a different URL -->
        <input name="id" value="{{ product.product_id }}" hidden>
        <label for="review-sort">Sort by </label>
        <select id="review-sort" name="review-sort">
            <!-- selected jinja block is to retain what was previously selected -->
            <option value="positive" {{ 'selected' if review_sort == 'positive' }}>Positive</option>
            <option value="negative" {{ 'selected' if review_sort == 'negative' }}>Negative</option>
            <option value="recent" {{ 'selected' if review_sort == 'recent' }}>Recent</option>
            <option value="oldest" {{ 'selected' if review_sort == 'oldest' }}>Oldest</option>
        </select>

        <label for="review-filter">Filter by </label>
        <select id="review-filter" name="review-filter">
            <option value="all" {{ 'selected' if review_filter == 'all' }}>All</option>
            <option value="5" {{ 'selected' if review_filter == '5' }}>5 star</option>
            <option value="4" {{ 'selected' if review_filter == '4' }}>4 star</option>
            <option value="3" {{ 'selected' if review_filter == '3' }}>3 star</option>
            <option value="2" {{ 'selected' if review_filter == '2' }}>2 star</option>
            <option value="1" {{ 'selected' if review_filter == '1' }}>1 star</option>
        </select>

        <input type="submit" value="Submit" id="review-submit">
    </form>
    <div id="reviews" class="reviews-individual flex width-100 flex-wrap">
        {% for i in range([100, reviews_filtered.getReviewCount()]|min) %}
            <!-- Handles each individual review's html -->
            {% include "singleReview.html" %}
        {% endfor %}
        {% if reviews_filtered.getReviewCount() == 0 %}
            <h4 class="p-2">No reviews fit this filter :(</h3>
        {% endif %}
    </div>
</div>
