{% extends "base.html" %}
{% block page_content %}

{% if orders %}
    {% for order in orders %}
        <div class="order">
            <h3>
                Order #{{ order.order_id }}: 
                {{ order.order_date.strftime('%m-%d-%Y %H:%M:%S') }}
            </h3>


            <p>Subtotal: ${{ order.order_subtotal | priceFormat }}</p>
            {% if order.discount_amount %}
            <p>Discount Applied: -${{ order.discount_amount | priceFormat }}</p>
            {% endif %}
            <p>Tax: ${{ order.order_tax | priceFormat }}</p>
            <p>Total: ${{ order.order_total | priceFormat }}</p>

            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price at Purchase</th>
                </tr>

                {% for item in order.order_items %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.price_at_purchase | priceFormat }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% else %}
    <p>You have no past orders.</p>
{% endif %}

{% endblock %}