{% extends 'base.html' %}
{% block title %}Login {{ super() }}{% endblock %}
{% block page_content %}
    <h1 class="login-h1">Login</h1>
    
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form id="login-form" class="" action="/login" method="post">
        {{ login_form.hidden_tag() }}
        <div class="form-group">
            {{ login_form.username.label }}
            {{ login_form.username( class="form-control", placeholder = "Email/Username") }}
        </div>
        <div class="form-group">
            {{ login_form.password.label }}
            {{ login_form.password( class="form-control", placeholder = "Password") }}
        </div>

        <p class="">Don't have an account? <a href="{{url_for('register.register')}}">Register Here</a></p>
        {{ login_form.submit(class="btn") }}
    </form>
{% endblock %}