{% extends 'base.html' %}
{% block title %}Login {{ super() }}{% endblock %}
{% block page_content %}
    <h1 class="login-h1">Login</h1>
    
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form class="login-form" action="/login" method="post">
        <div class="input-row">
            <div class="fancy-input full-width">
                <input class="full-width" type="text" name="username" placeholder="" required />
                <label for="username">Email or Username:</label>
            </div>
        </div>
        <div class="input-row">
            <div class="fancy-input full-width">
                <input class="full-width" type="password" name="password" placeholder="" required />
                <label for="password">Password:</label>
            </div>
        </div>
        <p class="">Don't have an account? <a href="{{url_for('register.register')}}">Register Here</a></p>
        <button class="btn" type="submit">Login</button>
    </form>
{% endblock %}