{% extends "base.html" %}
{% block styles %}
    <style>
        .totalsContainer{
            width: 350px;
            float: right;
        }
        .checkoutBtn{
            background-color: var(--purple-2) !important;
            color: black;
        }
        .checkoutBtn:hover{
            background-color: var(--purple-1) !important;
            color: white !important;
        }
    </style>
    {{ super() }}
{% endblock %}
{% block page_content %}

<form id="quantityChange" method="POST" action="{{ url_for('cart.update_cart') }}">
<table class="table">
    {% if cartItems %}
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for cartItem in cartItems %}
        <tr>
            <td>{{ cartItem.product_name }}</td>

            <td>
                <input 
                    type="number"
                    min="1"
                    value="{{ cartItem.quantity }}"
                    name="quantity_{{ cartItem.id }}"
                    onchange="document.getElementById('quantityChange').submit()"
                >
            </td>

            <td>${{ cartItem.price | priceFormat }}</td>
        </tr>
        {% endfor %}
        </table>
        </form>

        <div class="totalsContainer">
            <form method="POST" action="{{ url_for('cart.apply_promo') }}">
                <input type="text" name="promo_code" placeholder="Enter promo code">
                <button type="submit">Apply</button>
            </form>
            <table class="table">
                {% if subtotal %}
                <tr>
                    <td>Subtotal:</td>
                    <td>${{ subtotal | priceFormat }}</td> 
                </tr>
                {% endif %}
                {% if promotions %}
                    {% for promo in promotions %}
                    <tr>
                        <td>Code:</td>
                        <td>{{ promo.code }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if discounts %}
                <tr>
                    <td>
                        Discounts: 
                    </td>
                    <td>
                        -${{ discounts | priceFormat }}
                    </td>
                </tr>
                {% endif %}
                {% if tax %}
                <tr>
                    <td>Tax: </td>
                    <td>${{ tax | priceFormat }}</td>
                </tr>
                {% endif %}
                {% if total %}
                <tr>
                    <td>Total: </td>
                    <td>${{ total | priceFormat }}</td>
                </tr>
                {% endif %}
            </table>
            <form action="{{ url_for('order.order') }}" method="post">
                <input type="hidden" name="subtotal" value="{{ subtotal }}">
                <input type="hidden" name="tax" value="{{ tax }}">
                <input type="hidden" name="total" value="{{ total }}">
                <button type="submit" class="btn checkoutBtn" onclick="confirmOrder()">Checkout</button>
            </form>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        function confirmOrder() {
            return confirm("Are you sure you're ready to submit?")
        }

        function deleteItem(button){
            let confirmed = confirm('Are you sure you want to remove this item?')
            if (confirmed) {
                let form = document.getElementById('deleteForm')
            }
        }

    </script>
    {{ super() }}
{% endblock %}
