.outer-wrapper{
    margin: 50px 0 50px 0;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.product-img-main{
    max-height: 100%;
    max-width: 100%;
}

.ruler{
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid black;
    background: none;
    height: 0;
}

.description-box{
    border: 1px solid black;
    max-height: 300px;
    overflow-y: scroll;
}

.review-hr {
    border-color: var(--green-2);
    filter: brightness(150%);
}

.review-star {
    color: var(--orange-1);
    font-size: 2rem;
    margin: 0 .2rem;
}