*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Order properties:
+-------------------+
|      display      |
|     properties    |
|                   |
|      margin       |
|                   |
|  +---border----+  |
|  |             |  |
|  |  background |  |
|  |    color    |  |
|  |             |  |
|  |   padding   |  |
|  |             |  |
|  |  +-------+  |  |
|  |  | height|  |  |
|  |  | width |  |  |
|  |  | list  |  |  |
|  |  | text  |  |  |
|  |  | color |  |  |
|  |  | font  |  |  |
|  |  | cursor|  |  |
|  |  +-------+  |  |
|  +-------------+  |
+-------------------+ 
*/

:root{
    --green-1: #0A400C;
    --green-2: #819067;
    --tan-1: #B1AB86;
    --tan-2: #FEFAE0;
    --orange-1: #E67E22;
    --orange-2: #F9C784;

    --info-blue: #93bbc7;
    --warning-yellow: #F9CB43;
    --warning-yellow-light: #f9e79f;
    --error-red: #a03a13;
    --error-red-light: #F5824A;
}