{% extends 'base.html' %}
{% block title %}Register {{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}
{% block scripts %}{{ super() }}{% endblock %}
{% block page_content %}
    <h1 class="text-center">Register</h1>
    
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}


    <form id="register-form" class="" style="background-color: var(--green-1);" action="/register" method="post">
        {{ register_form.hidden_tag() }}
        <div class="form-group">
            {{ register_form.email.label }}
            {{ register_form.email( class="form-control", placeholder = "Email") }}
        </div>
        <div class="form-group">
            {{ register_form.username.label }}
            {{ register_form.username( class="form-control", placeholder = "Username") }}
        </div>
        <div class="form-group">
            {{ register_form.password.label }}
            {{ register_form.password( class="form-control", placeholder = "Password") }}
        </div>
        <div class="form-group">
            {{ register_form.confirm_password.label }}
            {{ register_form.confirm_password( class="form-control", placeholder = "Confirm Password") }}
        </div>
        <div class="form-group">
            {{ register_form.first_name.label }}
            {{ register_form.first_name( class="form-control", placeholder = "First Name") }}
        </div>
        <div class="form-group">
            {{ register_form.last_name.label }}
            {{ register_form.last_name( class="form-control", placeholder = "last Name") }}
        </div>
        <div class="form-group">
            {{ register_form.dob.label }}
            {{ register_form.dob( class="form-control") }}
        </div>
        <div class="form-group">
            <label class="text-capitalize" for="role_id">role:</label>
            {% for role in roles %} 
            <input type="checkbox" class="form-control" name="role_id" value="{{ role.role_id }}">{{ role.role_name|title }}
            {% endfor %}
        </div>

        <p class="">Already have an account? <a href="{{url_for('login.login')}}">Login Here</a></p>
        {{ register_form.submit(class="btn") }}
    </form>
{% endblock %}